


@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

html { 
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Belleza', sans-serif;
}


/*----------------------Custom Scrollbar-------------------*/


body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #01707100;  
        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(1, 112, 113, 0.48);    /* color of the scroll thumb */
    border-radius:50%;           /* roundness of the scroll thumb */
    margin-right:1px;     
}

.navbar-brand, title {
    letter-spacing: 3px;
}

.navbar-main {
    background: #017071;
    border-bottom: none;
}

.navbar-main a {
    color: #fff;
    margin-bottom: 0rem;
    margin: 5px 0px;
}

.navbar-main a:hover {
    color: #b6feff;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar-toggler {
    padding: .25rem .45rem;
    border: 2px solid;
    border-radius: 0rem;
    border-color: rgba(255, 255, 255, 0.2);

}


.top-background-image {
    background-image: url(../assets/images/splash.png);
    background-repeat: repeat-y;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
}

.shade {
    background-image: url(../assets/images/shade.png);
    background-repeat: repeat-y;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
}

.about-us-section {
    background: rgba(1, 112, 113, 0.05);
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.about-us img {
    height: 100%;
    width: 70%;
}

.about-us {
}

.about-us-description {
    max-width: 350px;
}

.services-section {
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.services img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding:10px;
    border: 2px solid #FF8870;
}

.our-service1 {
    height: 112px;
    width: 100px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .services img {
      width: 100%;
    }

    p.card-title{
        font-size:11px;
    }

.spa .col-3 {
    padding: 5px;
}
  }

.services-icons {
    margin-left: 10px;
    margin-right: 10px; 
}

.card-body {
    padding: .3rem;
}

.card-title {
    margin-bottom: 0rem;
}

.our-products img {
    width: 70%;
    margin-bottom: 3rem;
}

.our-products {
}

.our-products-description {
    max-width: 350px;
    margin-bottom: 4rem;
}

.product-section {
    background: rgba(1, 112, 113, 0.05);
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.product-icons {
    padding: .8rem;
}

.product-icons img {
    margin-bottom: 2rem;
    width: 100%;
}

.blog-section {
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.blog-section .card-title {
    text-align: center;
        font-weight: 600;
        font-size: 15px;
}


@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}