


@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

html { 
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Belleza', sans-serif;
}


/*----------------------Custom Scrollbar-------------------*/

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #c2c2c28f;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(160, 112, 112, 0.91);    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
}

.navbar-brand {
    letter-spacing: 3px;
}

.navbar-main {
    background: #017071;
    border-bottom: none;
}

.navbar-main a {
    color: #000;
    margin-bottom: 0rem;
    margin: 5px 0px;
}

.navbar-main a:hover {
    color: #b68b60;
}

.user img {
    height: 70%;
}

.top-background-image {
    background-image: url(../assets/images/splash.png);
    background-repeat: repeat-y;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
}

.shade {
    background-image: url(../assets/images/shade.png);
    background-repeat: repeat-y;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
}

.about-us-section {
    background: rgba(1, 112, 113, 0.05);
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.about-us img {
    width: 70%;
}

.about-us {
}

.about-us-description {
    max-width: 350px;
}

.services img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding:10px;
    border: 2px solid #FF8870;
}

.our-service1 {
    height: 112px;
    width: 100px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .services img {
      width: 100%;
    }

    p.card-title{
        font-size:12px;
    }
  }

.services-icons {
    margin-left: 10px;
    margin-right: 10px; 
}

.card-body {
    padding: .3rem;
}

.card-title {
    margin-bottom: 0rem;
}

.our-products img {
    width: 70%;
}

.our-products {
}

.our-products-description {
    max-width: 350px;
    margin-bottom: 4rem;
}

.product-section {
    background: rgba(1, 112, 113, 0.05);
    padding-bottom: 3rem;
    padding-top: 3rem;

}



@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

